.contest {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container);
    padding: 15px;
    border-radius: 10px;
}

.contest_info {
    position: relative;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.line {
    width: 2px;
    height: 100%;
    background: var(--text);
}
