.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

.passed{
    color: green;
}
.failed{
    color: red;
}


.submitting{
    background: none;
    overflow: hidden;
    &::after{
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        background: var(--bg);
        border-radius: 50%;
    }
    &::before{
        //write a half circle green
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background: linear-gradient(90deg, var(--primary), var(--primary) 50%, var(--bg) 50%);
        border-radius: 50%;

    }
}